extends ../layout

block content
  .page-header
    h3 Analysis
    form.form-horizontal(action='/analysis', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='algorithm') Algorithm
        .col-sm-2
          select.form-control(name='algorithm', id='algorithm')
            each configuration, classifier in configurations
              option(id='a_#{classifier}') #{classifier}
      .form-group
        label.col-sm-3.control-label(for='description') Description
        .col-sm-7
          textarea.form-control(rows='5', name='description', id='description')
      .form-group
        label.col-sm-3.control-label(for='dataset') Dataset
        .col-sm-2
          select.form-control(name='dataset', id='dataset')
            option(id='d1') Dataset 1
            option(id='d2') Dataset 2
            option(id='d3') Dataset 3
      .form-group
        label.col-sm-3.control-label(for='iterations') Iterations
        .col-sm-2
          select.form-control(name='iterations', id='iterations')
            - for (var i = 0; i < 1000; i+=10) {
                option= i
            - }
      each configuration, classifier in configurations
        .paramtab(id='#{classifier}')
          each value, value_name in configuration
            case value.type
              when "Integer"
                .form-group
                  label.col-sm-3.control-label(for='#{classifier}_#{value_name}') #{value_name}
                  .col-sm-2
                    input.form-control(type='number', name='#{classifier}_#{value_name}', id='#{classifier}_#{value_name}')
              when "Boolean"
                .form-group
                  label.col-sm-3.control-label(for='#{classifier}_#{value_name}') #{value_name}
                  .col-sm-2
                    input.form-control(type='checkbox', name='#{classifier}_#{value_name}', id='#{classifier}_#{value_name}')
              when "Select"
                .form-group
                  label.col-sm-3.control-label(for='#{classifier}_#{value_name}') #{value_name}
                  .col-sm-2
                    select.form-control(name='#{classifier}_#{value_name}', id='#{classifier}_#{value_name}')
                      each choice in value.options
                        option=choice      
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            | Submit
